
QM_MD_MM/.ipynb_checkpoints/psi4-checkpoint.ipynb
web_and_literature/.ipynb_checkpoints/Query_Wikidata_and_Wikipedia_\[OK,_(24_3_1)\]-checkpoint.ipynb
batch_analysis/execution_layer.db
batch_analysis/knowledge_graph.db
